.header_container{
  background: #e15ce6f3;
  padding:10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#4b2404;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}

.header_container img{
  width: 60px;
}

.header_container nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header_container nav ul li{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  font-size: 18px;
}
.header_container nav ul li:last-child{
  padding-right: 10px;
}